.idea
node_modules
dist
/src/
/public/
coverage
web/node_modules
web/dist
web/coverage
.env
.env.local
web/.env.e2e.local
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/capacitor-cordova-android-plugins/
android/.cxx/
